<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InventIT.Properties.Settings>
            <setting name="gitPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lockOnOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lockOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unlockOnPush" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stagedFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </InventIT.Properties.Settings>
    </userSettings>
</configuration>